*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-gray: #2c2c2c;
    --off-white: #fcfcfc;
    --fir-green: rgb(15, 150, 120);
    --dark-blue: #2b3654;
    --foreground-color: var(--dark-gray);
    --background-color: var(--off-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: var(--off-white);
        --background-color: var(--dark-blue);
    }
}

::selection {
    background: var(--fir-green);
    color: var(--background-color);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    color: var(--foreground-color);
    background: var(--fir-green);
}

.container {
    --padding: 7em;
    --verge: 70%;
    padding-top: var(--padding);
    height: calc(100% - var(--padding));
    background: linear-gradient(170deg, var(--background-color) var(--verge), transparent var(--verge));
}

.content {
    display: flex;
    justify-content: center;
}

.tile {
    margin: 1em;
}

.images {
    display: flex;
    flex-direction: column;
}

img {
    --size: 180px;
    width: var(--size);
    height: var(--size);
    margin: 0.5em;
    border-radius: 100%;
    user-select: none;
}

article {
    font-family: Cantarell, 'Segoe UI', Roboto, Ubuntu, 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    max-width: 700px;
}

article h1 {
    font-size: 50px;
    margin: 0;
}

.transcribed {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 1.5rem;
}

.transcribed>* {
    white-space: nowrap;
    overflow: scroll;
}

.transcription {
    font-size: initial;
    font-weight: 300;
}

.transcription,
.unobtrustive {
    opacity: 0.6;
}

article > p, article > ul {
    text-align: justify;
    line-height: 1.8;
}

article ul {
    display: flex;
    gap: 0.5em;
    list-style: none;
    padding-left: 0;
}

article a,
article a:visited {
    color: inherit;
}

@media (max-width: 1000px) {
    .container {
        --padding: 2em;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        flex-direction: column-reverse;
    }

    .tile {
        margin: 0.5em;
    }

    .images {
        flex-direction: row;
        justify-content: flex-end;
    }

    article {
        max-width: none;
    }
}

@media (max-width: 750px) {
    .container {
        --padding: 1.5em;
    }

    img {
        --size: 100px;
    }

    article {
        font-size: 15px;
    }

    article h1 {
        font-size: 30px;
    }

    article p {
        line-height: 1.7;
    }
}
