*,
*::pre,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-gray: #2c2c2c;
    --off-white: #fcfcfc;
    --fir-green: rgb(15, 150, 120);
}

::selection {
    background: var(--fir-green);
    color: var(--off-white);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    color: var(--dark-gray);
    background: var(--fir-green);
}

.container {
    --padding: 7em;
    --verge: 70%;
    padding: var(--padding) 0 0 0;
    background: var(--off-white);
    height: calc(100% - var(--padding));
    background: linear-gradient(170deg, var(--off-white) var(--verge), transparent var(--verge));
}

.content {
    display: flex;
    justify-content: center;
}

.tile {
    margin: 1em;
}

.images {
    display: flex;
    flex-direction: column;
}

img {
    --size: 180px;
    width: var(--size);
    height: var(--size);
    margin: 0.5em;
    border-radius: 100%;
    user-select: none;
}

#logo {
    image-rendering: pixelated;
}

article {
    font-family: Cantarell, 'Segoe UI', Roboto, Ubuntu, 'Noto Sans', sans-serif;
    max-width: 700px;
    text-align: justify;
    font-weight: 300;
}

article h1 {
    font-size: 50px;
    margin: 0;
}

article .item {
    font-size: 20px;
    margin: 1em 0;
    line-height: 1.9;
}

article ul {
    list-style: none;
    padding-left: 0;
}

article a,
article a:visited {
    color: inherit;
}

@media (max-width: 1000px) {
    .container {
        --padding: 2em;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        flex-direction: column-reverse;
    }

    .tile {
        margin: 0.5em;
    }

    .images {
        flex-direction: row;
        justify-content: flex-end;
    }

    article {
        max-width: none;
    }

}

@media (max-width: 750px) {
    .container {
        --padding: 1.5em;
    }

    img {
        --size: 100px;
    }

    article h1 {
        font-size: 30px;
    }

    article .item {
        font-size: 15px;
        line-height: 1.7;
    }
}
