*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-gray: #2c2c2c;
    --off-white: #fcfcfc;
    --fir-green: rgb(15, 150, 120);
    --dark-blue: #2b3654;
    --foreground-color: var(--dark-gray);
    --background-color: var(--off-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: var(--off-white);
        --background-color: var(--dark-blue);
    }
}

::selection {
    background: var(--fir-green);
    color: var(--background-color);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    color: var(--foreground-color);
    background: var(--fir-green);
    font-family: Cantarell, 'Segoe UI', Roboto, Ubuntu, 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.container {
    --padding-top: 8rem;
    --verge: 70%;
    padding-top: var(--padding-top);
    height: calc(100% - var(--padding-top));
    background: linear-gradient(170deg, var(--background-color) var(--verge), transparent var(--verge));
}

.content {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

img {
    --size: 180px;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    user-select: none;
}

h1 {
    font-size: 50px;
    margin: 0;
}

article {
    max-width: 700px;
}

.transcribed {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 1.5rem;
}

.transcription,
.unobtrustive {
    opacity: 0.6;
    font-size: initial;
}

.transcription {
    font-weight: 300;
    transition: opacity 0.1s ease-in-out;
}

.transcription:hover {
    opacity: initial;
}

article > p, article > ul {
    text-align: justify;
    line-height: 1.8;
}

article ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding-left: 0;
}

article a,
article a:visited {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #2c2c2c66; /* opacity: 0.4 -> rgba(inherit, 0.4) -> rgba(var(--foreground-color), 0.4) */
}

@media (prefers-color-scheme: dark) {
    article a,
    article a:visited {
        text-decoration-color: #fcfcfc66; /* opacity: 0.4 -> rgba(inherit, 0.4) -> rgba(var(--foreground-color, 0.4)) */
    }
}

@media (max-width: 1000px) {
    .container {
        --padding-top: 2.5rem;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .images {
        flex-direction: row;
        justify-content: flex-end;
    }

    article {
        max-width: none;
    }
}

@media (max-width: 750px) {
    .container {
        --padding-top: 2rem;
    }

    img {
        --size: 100px;
    }

    article {
        font-size: 15px;
    }

    article h1 {
        font-size: 30px;
    }

    article p {
        line-height: 1.7;
    }
}
